* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f4f4f4;
}

:root {
  --primary-color: lightgrey;
  --secondary-color: lightblue;
  --accent-color: #6A2E35;
  --background-color: white;
  --text-color: #2E2836;
}