.container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 4rem;
}

.container div{
    text-align: center;
}

.logo {
    width: 6rem;
    height: 6rem;
}

.siteTitle {
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: var(--accent-color); 
    font-family: "Fraunces", serif; 
    margin-bottom: 1rem; 
    margin-top: -0.5rem; 
}

.container ul p {
    color: var(--accent-color);
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    font-family: var(--heading-text); 
    margin-bottom: 2rem; 
}

.container ul li {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0.5rem 0rem;
    padding: 0;
    list-style-type: none;
    color: var(--text-color)
}

.socialIcon {
    transform: translateY(0.1rem);
    color: var(--accent-color);
    margin-right: 0.5rem;
}

.copywrite {
    width: 100%;
    text-align: right;
    padding: 1rem;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: var(--accent-color);
}