.switcher {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  margin-left: -1rem; 
}

.switcher button {
  padding: 10px 20px;
  border: 1px solid var(--accent-color);
  background-color: transparent;
  border-radius: 20px;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s ease;
  font-size: 15px;
  font-weight: 300; 
  color: var(--accent-color);
  font-family: "Poppins", serif; 
  height: 42px; 
}

.switcher button:first-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.switcher button:last-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.switcher button.active {
  background-color: var(--accent-color);
  color: white;
}

.switcher button:not(.active):hover {
  background-color: var(--accent-color);
  color: white; 
}
