.container {
    height: 16rem;
    width: 12rem;
    margin: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: white;
    padding: 0.5rem;
    box-shadow: 0px 0px 5px grey;
}

.productImg {
    height: 10rem;
    width: 100%;
    object-fit: cover;
}

.productName {
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 100%;
}

.infoAndCart {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.icon {
    height: 1.5rem;
    width: 1.5rem;
    color: var(--accent-color); 
    margin-right: 0.75rem; 
}

.heartIcon {
    height: 1.5rem; 
    width: 1.5rem; 
    color: var(-accent-color); 
    position: absolute; 
    margin-left: 8rem; 
    margin-top: 0.75rem; 
}

.container {
    cursor: pointer;
  }
  
  /* Popup overlay styling */
  .popupOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }
  
  /* Popup styling */
  .popup {
    position: absolute;
    background-color: #fff;
    padding: 2rem;
    border-radius: 8px;
    max-width: 400px;
  }
  
  
  .popupImg {
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
  }
  
  .popupProductName {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  .popupPrice {
    font-size: 1rem;
    color: #666;
    margin-bottom: 1rem;
  }
  
  .popupDescription {
    font-size: 0.9rem;
    color: #333;
  }

  .sizeSelect {
    width: 4rem;
  }

  .menuAndPrice {
    display: flex;
    justify-content: space-between;
  }
  
  
  .quantity {
    display: flex;
    align-items: center;
    justify-content: center;
}

.quantity p {
    margin: 1rem;
}

.addBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: inherit;
    border: 1.5px solid #6A2E35;
    color: #6A2E35;
    font-weight: bold;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    width: 50px;
    height: 40px;
    margin-right: 0.1rem;
    font-size: 2.5rem;
    font-weight: 100;
}

.subtractBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: inherit;
    border: 1.5px solid #6A2E35;
    color: #6A2E35;
    font-weight: bold;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    width: 50px;
    height: 40px;
    margin-left: 0.1rem;
    font-size: 2.5rem;
    font-weight: 100;
}

.addBtn:hover, .subtractBtn:hover {
    background-color: #6A2E35;
    color: #ffff;
}

.quantityAndAddBtn {
    display: flex;
    justify-content: space-between;
}

.addToCart {
    width: 8rem;
}