.vision {
    width: 100%;
    display: flex;
    padding: 4rem;
}

.visionText {
    width: 50%;
    height: 100%;
    padding: 1rem;
}

.visionText h2 {
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: right;
    margin: 2rem 0 1rem 0;
    font-family: "Bitter", serif; 
    color: var(--accent-color); 
}

.vision p {
    text-align: right;
    padding-left: 4rem;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.visionPic {
    width: 50%;
    height: 100%;
}

.visionImg {
    width: 100%;
}

.link {
    color: var(--accent-color); 
    font-family: var(--heading-text); 
    margin-left: 22.8rem; 
    padding-top: 19.8rem; 
    position: absolute; 
}

.link:hover {
    color: #000;
}

@media (max-width: 767px) {
    .vision {
      display: none;
    }
  }

  @media (max-width: 1500px) {
    .vision {
      display:block;
    }
    .visionText {
        width: 100%;
    }
    .visionPic {
        width: 100%;
    }
  }

  @media (max-width: 1920px) and (max-height: 1080px) {
    
    .visionText {
        margin-top: -53px; 
    }

    .vision p {
        padding-left: 0; 
        margin-left: -4rem; 
    }
  }

  @media (min-width: 1920px) and (min-height: 1080px) {
    
    .link {
        margin-left: 31.8rem; 
    }

    .visionText p {
        padding-left: 8rem; 
    }
  }