.favouritesCardContainer {
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    text-align: left;
    padding: 2.4rem;
    margin: 0.7rem;
    width: 35%;
    background-color: var(--background-color);
    box-shadow: 1px 1px 4px grey;
}

.favouritesCardContainer img {
    width: 100%;
    margin-bottom: 1rem;
}

.texts {
}

.texts p {
    width: 100%;
}

.removeBtn {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    background-color: inherit;
    cursor: pointer;
    width: 15%;
    color: var(--accent-color);
}

.removeBtn:hover {
    background-color: var(--accent-color);
    color: #fff;
    border-radius: 100%;
    width: 50px;
    height: 50px;
}