.container {
    background-color: var(--primary-color);
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
}

.container div{
    display: flex;
    height: 6rem;
    width: 6rem;
    
}

.logo {
    width: 6rem;
    height: 6rem;
}

.siteTitle {
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: var(--accent-color);
}