.container {
    background-color: rgba( 255, 250, 250, 0.2);
    width: 100%;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo {
    height: 4rem;
    width: 4rem;
}

.siteTitle {
    font-size: 12px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    margin-left: 1rem;
    color: var(--accent-color); 
    font-family: "Frances", serif; 
    text-decoration: none; 
}

.container div {
    display: flex;
    align-items: center;
}

.links {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: var(--accent-color); 
    text-decoration: none; 
}

.links:hover {
    text-shadow: 2px 2px 5px var(--accent-color); 
}

.icon {
    height: 1.5rem;
    width: 1.5rem;
    margin: 1rem;
    color: var(--accent-color)
}

.icon:hover {
    cursor: pointer; 
    filter: drop-shadow(1px 1px 3px var(--accent-color));
}