.container {
    background-color: var(--primary-color);
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
    height: 4rem;
    width: 4rem;
}

.siteTitle {
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: 1rem;
    color: var(--accent-color)
}

.container div {
    display: flex;
    align-items: center;
}

.links {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: var(--accent-color)
}

.icon {
    height: 1.5rem;
    width: 1.5rem;
    margin: 1rem;
    color: var(--accent-color)
}