.vision {
    width: 100%;
    display: flex;
    padding: 4rem;
}

.visionText {
    width: 50%;
    height: 100%;
    padding: 1rem;
}

.visionText h2 {
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: right;
    margin: 1rem, 0
}

.vision p {
    text-align: right;
}

.visionPic {
    width: 50%;
    height: 100%;
}

.visionImg {
    width: 100%;
}