.vision {
    width: 100%;
    display: flex;
    padding: 4rem;
}

.visionText {
    width: 50%;
    height: 100%;
    padding: 1rem;
}

.visionText h2 {
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: right;
    margin: 2rem 0 1rem 0;
}

.vision p {
    text-align: right;
    padding-left: 4rem;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.visionPic {
    width: 50%;
    height: 100%;
}

.visionImg {
    width: 100%;
}

@media (max-width: 767px) {
    .vision {
      display: none;
    }
  }

  @media (max-width: 1000px) {
    .vision {
      display:block;
    }
  }